@import url('../../../ext/resources/css/ext-all-gray.css');

#app-header {
	border-top: 2px solid black;
    background: #f1f1f1;
	border-bottom: 1px solid #b2b6b6;
	padding-right:20px;
}

#product-name {
	font-size:22px;
	color: #228B22;
	border-left: 1px solid #b2b6b6;
	padding-left:15px;
}

#search-btn {
	margin-left:5px;
	background: #2778F5;
	color:white;
	border:1px solid #2778F5;
}

#search-btn  .x-btn-inner {
	color:white;
	font-size:12px;
}